---
import { getPosts } from '#/collection'
import {
  formatDuration,
  intervalToDuration,
  roundToNearestMinutes,
} from 'date-fns'
import SVG from '@jasikpark/astro-svg-loader'

export interface Props {
  title?: string
}
const posts = await getPosts()

const recentPosts = posts.slice(0, 5).map(
  ({
    path,
    rendered: {
      remarkPluginFrontmatter: { title, createdAt, readingTime },
    },
  }) => ({
    title,
    path,
    createdAt,
    readingTime: formatDuration(
      intervalToDuration({
        start: 0,
        end: roundToNearestMinutes(readingTime).getTime(),
      })
    ),
  })
)

const { title = '최근 포스트' } = Astro.props
---

<section>
  <h2>{title}</h2>
  <ul>
    {
      recentPosts.map((post) => (
        <li>
          <article>
            <h4>
              <a href={`/post/${post.path}`}>{post.title}</a>
            </h4>
            <div class="meta">
              <span>{post.createdAt}</span>
              <span>
                <SVG
                  src={import('../images/time.svg?raw')}
                  width={11}
                  height={11}
                />{' '}
                읽는 데 {post.readingTime}
              </span>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  section {
    margin-bottom: 3rem;
  }

  ul {
    li {
      margin-bottom: 0.5rem;
      line-height: 2rem;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid $theme-light-text-secondary;
      position: relative;

      @include dark {
        border-bottom-color: $theme-dark-text-secondary;
      }

      &:last-of-type {
        border-bottom: 1px solid transparent;
      }

      h4 {
        margin: 0;
        padding: 0;

        a {
          @include link;

          &:before {
            content: '';
            position: absolute;
            inset: 0;
          }
        }
      }

      .meta {
        font-size: 0.8rem;
        color: $theme-light-text-secondary;

        svg {
          fill: $theme-light-text-secondary;
        }

        @include dark {
          color: $theme-dark-text-secondary;

          svg {
            fill: $theme-dark-text-secondary;
          }
        }

        span + span {
          padding-left: 11px;
        }

        .updated {
          color: #db4c69;
        }
      }
    }
  }
</style>
