---
import '#/styles/syntax-highlight.scss'
import '#/styles/reset.scss'
import '#/styles/site.scss'

import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import { setDefaultOptions } from 'date-fns'
import { ko } from 'date-fns/locale/index'

import { getPosts } from '#/collection'
import Footer from '#/components/Footer.astro'
import Header from '#/components/Header.astro'
import Search from '#/components/Search.astro'
import { sitemeta } from '#/sitemeta'

setDefaultOptions({ locale: ko })

const posts = await getPosts()

const tags = posts.reduce((set, post) => {
  ;(post.rendered.remarkPluginFrontmatter?.tags ?? []).forEach((tag) => {
    set.add(tag)
  })
  return set
}, new Set<string>())

export interface Props {
  title?: string
  frontmatter?: any
}

const { frontmatter, title } = Astro.props

const openGraph = {
  basic: {
    title: title ?? frontmatter?.title ?? 'JOHNNY DEV BLOG',
    type: frontmatter ? 'article' : 'website',
    image: frontmatter?.featuredImage ?? '/ogImage.webp',
  },
  image: {
    alt: frontmatter ? frontmatter.title : sitemeta.title,
  },
}
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=5, width=device-width, viewport-fit=cover"
    />
    <meta
      name="google-site-verification"
      content="er9zvCmECxtt0KP_BjDZ4WplZsNT5ApeDBK4wYD7aI0"
    />
    <meta
      name="naver-site-verification"
      content="aef0a8e4429c4f7c5f7e3b52074dc2d968716069"
    />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions fallback="none" />
    <SEO
      title={sitemeta.title}
      description={sitemeta.description}
      openGraph={openGraph}
    />
    <link rel="icon" href="/favicon.png" sizes="any" />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-R9PQNBWGC9"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        window.dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-R9PQNBWGC9')
    </script>
  </head>
  <body>
    <Header transition:persist="header" />
    <main>
      <slot />
    </main>
    <Footer />
    <Search transition:persist="search" tags={tags} />
  </body>
</html>
