---
import '#/base.css'
import BackgroundEffect from '#/components/BackgroundEffect.astro'
import Footer from '#/components/Footer.astro'
import Header from '#/components/Header.astro'
import { sitemeta } from '#/sitemeta'
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'

export interface Props {
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  frontmatter?: Record<string, any>
  title?: string
}

const { frontmatter, title } = Astro.props

const openGraph = {
  basic: {
    image: frontmatter?.featuredImage ?? `${Astro.url.pathname}/og-image.png`,
    title: title ?? frontmatter?.title ?? 'JOHNNY DEV',
    type: frontmatter ? 'article' : 'website',
  },
  image: {
    alt: frontmatter ? frontmatter.title : sitemeta.title,
  },
}
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta
      content="initial-scale=1, maximum-scale=5, width=device-width, viewport-fit=cover"
      name="viewport"
    />
    <meta
      content="er9zvCmECxtt0KP_BjDZ4WplZsNT5ApeDBK4wYD7aI0"
      name="google-site-verification"
    />
    <meta
      content="aef0a8e4429c4f7c5f7e3b52074dc2d968716069"
      name="naver-site-verification"
    />
    <meta content={Astro.generator} name="generator" />
    <SEO
      description={sitemeta.description}
      openGraph={openGraph}
      title={sitemeta.title}
    />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link href="/favicon.png" rel="icon" sizes="any" />
    <ViewTransitions fallback="swap" />
    <!-- <script -->
    <!--   is:inline -->
    <!--   src="https://www.googletagmanager.com/gtag/js?id=G-R9PQNBWGC9" -->
    <!--   type="text/partytown"></script> -->
    <!-- <script is:inline type="text/partytown"> -->
    <!--   window.dataLayer = window.dataLayer || [] -->
    <!--   function gtag() { -->
    <!--     // eslint-disable-next-line prefer-rest-params -->
    <!--     window.dataLayer.push(arguments) -->
    <!--   } -->
    <!--   gtag('js', new Date()) -->
    <!--   gtag('config', 'G-R9PQNBWGC9') -->
    <!-- </script> -->
    <script is:inline>
      document.addEventListener('astro:page-load', () => {
        if (navigator.userAgent.indexOf('Win') > -1) {
          document.documentElement.classList.add('win')
        }
      })
    </script>
  </head>
  <body>
    <Header />
    <main class="relative z-10">
      <slot />
    </main>
    <Footer />
    <BackgroundEffect />
  </body>
</html>
