---
import SVG from '@jasikpark/astro-svg-loader'

import type { FrontMatter } from '#/types'

export interface Props {
  frontmatter: FrontMatter
}

const {
  frontmatter: { title, createdAt, categories, tags },
} = Astro.props
---

<header class="wrapper">
  <h1 class="title">{title}</h1>
  <div class="post-meta">
    <span class="date">
      <time>{createdAt}</time>
    </span>

    <span class="categories">
      in {
        categories.map((cat) => (
          <a class="link" href={`/post/category/${cat}/1`} rel="tag">
            {cat}
          </a>
        ))
      }
    </span>
  </div>
  <div class="tags">
    <SVG src={import('../images/tag.svg?raw')} width={11} height={11} />
    {
      tags.map((tag) => (
        <a class="link" href={`/post/tag/${tag}/1`} rel="tag">
          {tag}
        </a>
      ))
    }
  </div>
</header>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .wrapper {
    display: grid;
    margin-bottom: 35px;
  }

  .title {
    margin: 0 0 0.5rem;
  }

  .link {
    @include link-secondary;
  }

  .post-meta {
    margin: 0 0 0.5rem;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: $theme-light-text-secondary;

    @include dark {
      color: $theme-dark-text-secondary;
    }

    span + span {
      padding-left: 5px;
    }
  }

  .tags {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    gap: 7px;

    svg {
      fill: $theme-light-text-secondary;
    }
  }
</style>
