---
import type { GetStaticPaths } from 'astro'

import { getPostCategories, getSortedPosts } from '#/collection'
import Categories from '#/components/Categories.astro'
import Pagination from '#/components/Pagination.astro'
import PostList from '#/components/PostList.astro'
import SearchButton from '#/components/SearchButton.astro'
import SearchLayer from '#/components/SearchLayer.astro'
import Wrapper from '#/components/Wrapper.astro'
import { getPostImages } from '#/util/image'

const categories = await getPostCategories()

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts()

  return paginate(posts, { pageSize: 5 })
}) satisfies GetStaticPaths

const { page } = Astro.props

const allPages = [...Array(page.lastPage).keys()].map((num) => {
  return `/blog${num === 0 ? '' : `/${String(num + 1)}`}`
})

const preloads = (await getPostImages(page.data)).map((img) => ({
  _as: 'image',
  href: img.src,
}))
---

<Wrapper preloads={preloads}>
  <div class="my-4 flex justify-between gap-2">
    <Categories
      categories={categories}
      current={'all'}
      transition:persist="categories"
    />
    <SearchButton />
  </div>
  <div class="flex flex-col items-center text-th-text">
    <PostList list={page.data} />
    <Pagination allPages={allPages} class="mx-auto my-10" page={page} />
  </div>
  <SearchLayer />
</Wrapper>
